*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Helvetica,"PingFang SC";
  background-size: 100%;
  background-repeat: no-repeat;
  text-decoration: none;
}
ul li{
  list-style: none;
}